
/* SMALL-MOBILE */
@media (max-width: 850px) {

  
    footer {
        background-color: var(--clrOrange);
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 0;
    }


    .meme-contanier{
        flex-direction: column;
        
    }

    

}



/* Desktop */
@media (min-width: 850px) {

    .meme-contanier{
        flex-direction: row;
        
    }
   

}


