html {
    font-family: MontserratR;
    color: var(--clrBlack);
    font-size: 1em;
    margin: 0;
    padding: 0;
    

}


*{
    box-sizing: border-box;
}


body{
    width: 100%;
    min-height: 100%;
    background-color: var(--clrWhite);
    text-align: center;
}


h2 {
    font-size: 1.75rem;
    margin: 0 0 2.8125rem;
    font-weight: bold;
    text-transform: uppercase;
}

p {
    margin: 0 0 2em;
}

li, a{
    text-decoration: none;
    color: var(--clrWhite);
}

li:hover, a:hover {
    cursor: pointer;
    color: var(--clrBlack);
    font-weight: bold;
}

