footer {
    background-color: var(--clrOrange);
}


footer img{
    width: 15em;
    padding-top: 4em;
}

footer h3{
    padding-bottom: 5em;
    color: var(--clrWhite);
    font-weight: normal;
}